@using SimpleAdsAuth.Data
@model AdsViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        @foreach (Ad a in Model.Ads)
        {
            <div class="jumbotron">
                <h5>Listed by @a.UserName</h5>
                <h5>Listed on @a.Date.ToShortDateString()</h5>
                <h5>Phone Number: @a.PhoneNumber</h5>
                <h3>@a.Title</h3>
                <h3>Details:</h3>
                <p>@a.Description</p>
                    <form method="post" action="/home/deletead">
                        <input type="hidden" name="id" value="@a.Id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
            </div>
        }
    </div>
</div>

